

<% if user_signed_in? %>
<%= button_to "Create event", new_user_event_path(@user), method: :get%>
<h1><%="#{@user.name} events" %></h1>
<% end %>
<ul>
  <% @user.created_events.each do |event| %>
    <li>
      <%= link_to "#{event.title} #{event.created_at}", edit_user_event_path(@user, event)%>
    </li>
  <% end %>
</ul>
<h1>Events all</h1>
<ul>
  <% @all_events.each do |event| %>
    <li>
      <%= link_to "#{event.title} #{event.created_at}", user_event_path(@user, event)%>
    </li>
  <% end %>
</ul>
<h1>Attended events</h1>
<h2>Soon:</h2>
<ul>
  <% @user.attended_events.each do |event| %>
    <% if(event.date > DateTime.now) %>
    <li>
      <%= link_to "#{event.title} #{event.created_at}", user_event_path(@user, event)%>
    </li>
    <% end %>
  <% end %>
</ul>
<h2>Last:</h2>
<ul>
  <% @user.attended_events.each do |event| %>
    <% if(event.date < DateTime.now) %>
    <li>
      <%= link_to "#{event.title} #{event.created_at}", user_event_path(@user, event)%>
    </li>
    <% end %>
  <% end %>
</ul>
