   <p>
   <%= "Event title: #{@event.title}"%>
   </p>
    <p>
   <%= "Creator: #{@name}" %>
   </p>
    <p>
   <%= "Date: #{@event.date}"%>
   </p>

   Participants:

   <% @attendees.each do |attendee| %>
    <li>
      <%= attendee.name%>
    </li>
   <% end %>
<% if current_user.id!=@event.creator_id %>
    <% if @is_joined%>
        <%= button_to "Leave event", leave_event_user_event_path%>
    <% else %>
        <%= button_to "Join event", join_event_user_event_path(@attendees)%>
    <% end %>
<% end %>
