   <p>
   <%= "Event title: #{@event.title}"%>
   </p>
    <p>
   <%= "Creator: #{@name}" %>
   </p>
    <p>
   <%= "Date: #{@event.date}"%>
   </p>

   Participants:

   <% @attendees.each do |attendee| %>
    <li>
      <%= attendee.name%>
    </li>
   <% end %>

<% if @is_joined %>
<%= button_to "Leave event", 'root'%>
<% else %>
<%= button_to "Join event", 'root'%>
<% end %>

